	<h1>Exercise 2</h1>

<h3>How to render a template</h3>

<p id="content">
	
</p>

<script type="text/javascript">
	
	$(document).on('ready', function() {
		var template = $('#tpl').html();
		var data = {
			animal: 'koala',
			adjective: 'hyperactive'
		};
		var tpl = _.template(template);
		$('#content').html(tpl(data));
	});

</script>

<script type="text/template" id="tpl">
	
	The quick brown <%%= animal %> jumped over the <%%= adjective %> dog.

</script>